/* General style rules for fonts and colours */
body{
  color: #0C2646;
  background-color: #828BA0;
  line-height: 1.8;
  text-align: center;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  font-size: 26px;
}

h1{
  color: #1C0A1F;
  font-size: 40px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
}

h2{
  color: #37143E;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
}

h3 {
  color: #37143E;
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
}

a{
  color: #0C2646;
  font-family: 'Cormorant Garamond', serif;
  text-decoration: none;
  transition: color 0.5s ease;
  font-weight: 600;
  font-size: 24px;
}

a:hover{
  color: #0C080D;
  text-decoration: none;
}

/*Custom design for the container*/
.container{
  width: 700px;
  margin: 40px auto;
}

/*Responsive design for container*/

/* For a screen < 960px, this CSS will be read */
@media(max-width: 960){
  .container{
   width: 700px;
  }
}

/* For a screen < 720px, this CSS will be read */
@media(max-width: 720px){
  .container{
   width: 500px;
  }
}

/* For a screen < 540px, this CSS will be read */
@media(max-width: 540px){
  .container{
    width: 300px;
  }
}

/*Custom design for card magnolia*/
.card-magnolia{
  background-color: #F8F0FA;
  padding: 25px 35px;
  box-shadow: 0px 10px 30px #0C2646;
  border-radius: 4px;
  margin: 35px 0px;
  text-align: center;
}

/*Custom design for profile image*/
.img-circle{
  border-radius: 90%;
  border: 2px solid #1C0A1F;
  width: 190px;
}

/*Custom design for all the magnolia buttons*/
.btn-magnolia{
  background-color: #F8F0FA;
  color: #828BA0;
  border: 0.25px solid #828BA0;
  padding: 10px 15px;
  border-radius: 4px;
}

.btn-magnolia:hover{
  background-color: #F1E0F5;
  color: #0C2646;
}

/*Custom design for all the silver icons*/
.icons-silver{
  list-style: none;
  padding-left: 0px;
}
.icons-silver li{
  display: inline;
  padding: 15px 10px;
}
.icons-silver i{
  font-size: 50px;
  color: #828BA0;
  padding: 15px 10px;
}
.icons-silver i:hover{
  color: #37143E;
}

/*Custom design for the magnolia arrow*/
.icon-magnolia{
  list-style: none;
  padding-left: 0px;
}
.icon-magnolia li{
  display: inline;
  padding: 15px 10px;
}
.icon-magnolia i{
  font-size: 50px;
  color: #F8F0FA;
  padding: 15px 10px;
}
.icon-magnolia i:hover{
  color: #37143E;
}


